/* src/components/Languages.css */

.languages {
    text-align: center; 
}

.columns {
    display: flex; 
    justify-content: center;  
    margin-top: 20px; 
}

.column {
    margin: 0 20px;  
    flex: 1; 
}

.language-list {
    list-style-type: none; 
    padding: 0;       
    margin: 0;          
}

.language-list li {
    margin-bottom: 8px;   
}

.be-language-list {
    background-color: white; /* White background */
    padding: 20px; /* Optional: Adds padding */
    border-radius: 8px; /* Optional: Adds rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow */
    margin: 20px; /* Optional: Adds margin */
}

.fe-language-list {
    background-color: white; /* White background */
    padding: 20px; /* Optional: Adds padding */
    border-radius: 8px; /* Optional: Adds rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow */
    margin: 20px; /* Optional: Adds margin */
}