/* src/components/Languages.css */

.languages {
    text-align: center; 
}

.columns {
    display: flex; 
    justify-content: center;  
    margin-top: 20px; 
}

.column {
    margin: 0 20px;  
    flex: 1; 
}

.language-list {
    list-style-type: none; 
    padding: 0;       
    margin: 0;          
}

.language-list li {
    margin-bottom: 8px;   
}

.be-language-list {
    background-color: white; 
    padding: 20px; 
    border-radius: 8px;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 20px;  
}

.bw-languages-container ul {
    list-style-type: none;  
    padding: 0;  
    margin: 0;  
}

.fe-language-list {
    background-color: white;  
    padding: 20px;  
    border-radius: 8px;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    max-width: 400px;
}

.fe-languages-container ul {
    list-style-type: none;  
    padding: 0;  
    margin: 0;  
}